vti_encoding:SR|utf8-nl
vti_author:SR|lapizza
vti_timelastmodified:TR|10 May 2005 06:36:10 -0000
vti_timecreated:TR|19 Apr 2005 19:01:24 -0000
vti_extenderversion:SR|5.0.2.2623
vti_backlinkinfo:VX|pizza/Other_stores.html pizza/location.html pizza/theme.html pizza/main.shtml pizza/signup.html pizza/index.html pizza/Own_your_store.html pizza/coupons.html pizza/products.shtml
vti_cacheddtm:TX|10 May 2005 06:36:10 -0000
vti_filesize:IR|259
